internal/build/*
!internal/build/.gitkeep
output/*
!output/.gitkeep
input/*
!input/.gitkeep
internal/work/*
!internal/work/.gitkeep
tmp/
artifacts/
*.appx
*.msi
*.asar
*.zip
*.7z
*.cab
*.lnk
*.log
Desktop.ini
Thumbs.db
